@font-face {
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/SourceSansPro-Bold.ttf");
}

body {
  color: #0B2E41;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 1.6;
}

a {
  color: #52addb;
}

h1 {
  margin-bottom: 0;
  font-size: 3rem;
  line-height: 1;
}

h2 {
  color: #666464;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1;
  margin: 1rem 0 0;
}

hr {
  width: 25%;
  background: #52addb;
  border: none;
  height: 5px;
  margin: 3rem 0;
}

footer {
  color: #666464;
  font-size: 1rem;
  margin-top: 5rem;
}