@font-face {
    font-family: "Source Sans Pro";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/SourceSansPro-Regular.ttf");
}

@font-face {
    font-family: "Source Sans Pro";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/SourceSansPro-Bold.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #efefef;
    @apply font-agile6;
}

h2:not(:first-child) {
    @apply mt-10;
}

p:not(:first-child),
ul:not(:first-child),
h3:not(:first-child) {
    @apply mt-6;
}

.agile-prose h2 {
    @apply uppercase;
    @apply text-3xl;
    @apply font-bold;
}

.agile-prose p {
    @apply text-xl;
}

ul {
    @apply list-disc;
    @apply list-inside;
}

.whr-item {
    @apply list-none;
    @apply pb-4;
    @apply border-b;
    @apply border-grey;
}

.whr-item:not(:last-child) {
    @apply mb-4;
}

.whr-title {
    @apply font-semibold;
    @apply leading-tight;
    @apply text-lg;
}

.whr-code,
.whr-dept,
.whr-date,
.whr-location span {
    @apply hidden;
}