@font-face {
    font-family: "Source Sans Pro";
    font-weight: 300;
    font-style: normal;
    src: url("/fonts/SourceSansPro-Regular.ttf");
}

@font-face {
    font-family: "Source Sans Pro";
    font-weight: 700;
    font-style: normal;
    src: url("/fonts/SourceSansPro-Bold.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #efefef;
    @apply font-agile6;
}

p:not(:first-child) {
    @apply mt-4;
}

.whr-item {
    @apply pb-4;
    @apply border-b;
    @apply border-grey;
}

.whr-item:not(:last-child) {
    @apply mb-4;
}

.whr-title {
    @apply font-semibold;
    @apply text-lg;
}

.whr-code,
.whr-dept,
.whr-date,
.whr-location span {
    @apply hidden;
}